/* BackButton.css */

.back-button {
  background-color: #00a8ff;
  color: #fff;
  border: none;
  border-radius: 30px; /* Colțuri mai rotunde */
  padding: 20px 30px; /* Ajustează dimensiunile butonului */
  cursor: pointer;
  font-size: 20px; /* Ajustează dimensiunea textului butonului */
  transition: background-color 0.3s;
  margin-top: 70px; /* Poziționează butonul mai jos */
  margin-bottom: -30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.back-button:hover {
  background-color: #0077cc;
}

/* Adaugă stiluri pentru rezolutia 1770px */
@media (max-width: 1770px) and (min-height: 1080px) {
  .back-button {
    padding: 50px 80px; /* Ajustează dimensiunile butonului pentru rezoluția specificată */
    font-size: 55px; /* Ajustează dimensiunea textului butonului pentru rezoluția specificată */
    margin-bottom: 40px; /* Ajustează marginea inferioară pentru rezoluția specificată */
    margin-top: 80px;
    border-radius: 90px;
  }
}
