.banner-container {
  height: 500px; /* Setează înălțimea maximă a banner-ului */
  overflow: hidden; /* Ascunde conținutul care depășește înălțimea maximă */
  display: flex;
  align-items: center;
}

.banner-image {
  width: 100%;
  min-height: 500px; /* Setează înălțimea minimă a imaginii pentru a menține proporțiile */
  object-fit: cover; /* Asigură acoperirea completă a containerului cu imaginea */
}


/* Adaugă media query pentru rezoluția specificată */
@media (max-width: 1770px){
  .banner-container {
    height: 250px !important; /* Mărește înălțimea banner-ului */
  }

  .banner-image {
    min-height: 250px !important; /* Mărește înălțimea minimă a imaginii pentru a menține proporțiile */
  }
}

