/* Header.css */
.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
  padding: 50px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: opacity 0.4s ease, height 0.4s ease;
  z-index: 10;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 400px;
  height: auto;
  transition: opacity 0.4s ease, margin 0.4s ease;
}

/* Adaugă un stil suplimentar când header-ul a fost derulat în jos */
.header.scrolled {
  opacity: 0;
  height: 0;
  padding: 0;
  margin-top: 130px; /* Ajustează în funcție de înălțimea imaginii și a padding-ului */
}

.header.scrolled img {
  opacity: 0;
  margin-top: -20px; /* Ajustează în funcție de înălțimea imaginii */
}

