.header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0));
  padding: 50px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Adăugat pentru a permite animarea înălțimii */
}

.header img {
  width: 400px;
  height: auto;
}

.header.scrolled {
  opacity: 0;
  height: 0;
  padding: 0;
  margin-top: 130px;
}

.header.scrolled img {
  opacity: 0;
}

/* Adaugă media query pentru rezoluția specificată */
@media (max-width: 1000px){
  .header {
    padding: 75px 0; /* Ajustează padding-ul pentru a mări lungimea banner-ului */
  }

  .header img {
    width: 200px; /* Mărește lățimea imaginii */
  }

  .header.scrolled {
    margin-top: 195px; /* Ajustează marginea superioară pentru a păstra poziția corectă a imaginii */
  }
}


