/* NewPageStyles.css */

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  padding: 0;
  background-color: #f8f8f8;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 32%;
  height: 32%;
  border-radius: 15px;
  margin-bottom: 10px; 
}



.info-container {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: left;
  margin-top: -10px;
  margin-left: 60px;
}

.info-container p {
  font-size: 30px;
  color: #00a8ff;
  font-weight: bold;
  margin-bottom: 16px;
}

.NewPage {
  margin: 110px;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.content {
  margin-bottom: 20px;
  color: #333;
}

p {
  margin-bottom: 20px;
  color: #333;
}

hr {
  border: 0;
  height: 2px;
  background: #00a8ff;
  margin: 30px 0;
}


ul {
  padding: 0 0 0 30px;
}

li {
  margin-bottom: 12px;
  list-style-type: disc;
}

li:only-child::before {
  content: none; /* Ascunde punctul */
}

.similar-elements-title {
  font-size: 35px; /* Stilizează dimensiunea textului */
  color: #00a8ff; /* Stilizează culoarea textului */
  font-weight: bold; /* Stilizează grosimea textului */
  margin-bottom: 16px; /* Spațiu între titlu și containerul de imagini */
}

.similar-elements-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  margin-bottom: 10px; /* Reducere spațiu între container și conținutul următor */
  padding: 40px;
}

.similar-element {
  margin-right: 60px; /* Reducere spațiu între imagini */
}

.similar-element img {
  width: 400px; /* Dimensiunea imaginii */
  height: auto; /* Păstrează raportul de aspect al imaginii */
  border-radius: 15px; /* Reducere raza de încadrare */
  transition: transform 0.2s;
}

.similar-element img:hover {
  transform: scale(1.05); /* Mărește imaginea la hover cu un factor de 1.05 */
}


/* Adaugă stiluri pentru rezolutia 1770px */
@media (max-width: 1000px){
  .image-container {
    flex-direction: column; /* Așează imaginile unul sub altul */
    align-items: center; /* Aliniază imaginile pe centru */
  }

  .image {
    width: 87%; /* Lățime de 70% pentru a umple întreaga lățime a containerului */
    height: auto; /* Păstrează raportul de aspect al imaginii */
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .info-container {
    margin-left: 0; /* Resetarea margin-left pentru a alinia cu restul conținutului */
    text-align: center; /* Aliniază centrul textului */
  }

  .info-container p {
    font-size: 20px; /* Mărește dimensiunea fontului pentru textul scris cu albastru */
    margin-bottom: 12px; /* Reducere spațiu între paragrafe */
    text-align: center;
  }

  .NewPage {
    margin: 50px; /* Reducere margin pentru a îmbunătăți aspectul la rezoluția specificată */
  }

  .container {
    max-width: 100%; /* Lățime de 100% pentru a umple întreaga lățime a containerului */
  }

  .title {
    font-size: 20px; /* Mărește dimensiunea fontului pentru titlu */
    text-align: center;
  }

  .content,
  p {
    font-size: 15px; /* Mărește dimensiunea fontului pentru conținut */
    margin-bottom: 20px; /* Reducere spațiu între paragrafe și conținut */
    text-align: left;
  }

  .hr {
    border-width: 8px !important; /* Mărește grosimea liniilor albastre */
  }

  .similar-elements-title {
    font-size: 20px; /* Mărește dimensiunea fontului pentru titlul "Alte destinatii ce v-ar putea interesa" */
    color: #00a8ff; /* Schimbă culoarea textului la albastru */
    margin-bottom: 20px; /* Reducere spațiu între titlu și containerul de imagini */
  }

  .similar-elements-container {
    display: flex;
    flex-direction: column; /* Așează elementele unul sub altul */
    align-items: center; /* Aliniază elementele pe centru */
  }

  .similar-element {
    width: 80%; /* Face elementul să ocupe întreaga lățime a containerului */
    margin-bottom: 60px; /* Adaugă spațiu între elemente */
  }

  .similar-element img {
    width: 130%; /* Lățime de 100% pentru a umple întreaga lățime a containerului */
    height: auto; /* Păstrează raportul de aspect al imaginii */
    border-radius: 20px;
    transition: transform 0.2s;
  }

  li {
    font-size: 15px; /* Mărește dimensiunea fontului pentru elementele li */
    margin-bottom: 20px; /* Reducere spațiu între elementele li */
  }
}


