/* NewPageStyles.css */

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  padding: 0;
  background-color: #f8f8f8;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 32%;
  height: 32%;
  border-radius: 15px;
  margin-bottom: 10px; 
}


.info-container {
  background-color: #f8f8f8;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: left;
  margin-top: -10px;
  margin-left: 60px;
}

.info-container p {
  font-size: 35px;
  color: #00a8ff;
  font-weight: bold;
  margin-bottom: 16px;
}

.NewPage {
  margin: 110px;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-weight: bold;
  font-size: 1.2em;
}

.content {
  margin-bottom: 20px;
  color: #333;
}

p {
  margin-bottom: 20px;
  color: #333;
}

hr {
  border: 0;
  height: 2px;
  background: #00a8ff;
  margin: 30px 0;
}


ul {
  padding: 0 0 0 30px;
}

li {
  margin-bottom: 12px;
  list-style-type: disc;
}

li:only-child::before {
  content: none; /* Ascunde punctul */
}

.similar-elements-title {
  font-size: 35px; /* Stilizează dimensiunea textului */
  color: #00a8ff; /* Stilizează culoarea textului */
  font-weight: bold; /* Stilizează grosimea textului */
  margin-bottom: 16px; /* Spațiu între titlu și containerul de imagini */
}

.similar-elements-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  margin-bottom: 10px; /* Reducere spațiu între container și conținutul următor */
  padding: 40px;
}

.similar-element {
  margin-right: 60px; /* Reducere spațiu între imagini */
}

.similar-element img {
  width: 500px; /* Dimensiunea imaginii */
  height: auto; /* Păstrează raportul de aspect al imaginii */
  border-radius: 15px; /* Reducere raza de încadrare */
  transition: transform 0.2s;
}

.similar-element img:hover {
  transform: scale(1.05); /* Mărește imaginea la hover cu un factor de 1.05 */
}



