/* NewPageStyles.css */

body {
  font-family: 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  padding: 0;
  background-color: #f8f8f8;
}

.image-container {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 32%;
  height: 32%;
  border-radius: 15px;
  margin-bottom: 10px; 
}

/* Adaugă media query pentru a ajusta dimensiunea imaginilor pe dispozitive mici */
@media (max-width: 767px) {
  .image {
    display: none;
  }
  
.similar-elements-title {
    display: none;
}
  
  .similar-elements-container {
    display: none;
  }

  .similar-element {
    display: none;
  }

  .similar-element img {
    display: none;
  }
  
  .hr-element {
    display: none;
  }
}

/* Adaugă stiluri pentru rezolutia 1770px */
@media (max-width: 1770px) and (min-height: 1080px){
  .image-container {
    flex-direction: column; /* Așează imaginile unul sub altul */
    align-items: center; /* Aliniază imaginile pe centru */
  }

  .image {
    width: 87%; /* Lățime de 70% pentru a umple întreaga lățime a containerului */
    height: auto; /* Păstrează raportul de aspect al imaginii */
    border-radius: 30px;
    margin-bottom: 10px;
  }

  .info-container {
    margin-left: 0; /* Resetarea margin-left pentru a alinia cu restul conținutului */
    text-align: center; /* Aliniază centrul textului */
  }

  .info-container p {
    font-size: 70px; /* Mărește dimensiunea fontului pentru textul scris cu albastru */
    margin-bottom: 12px; /* Reducere spațiu între paragrafe */
    text-align: center;
  }

  .NewPage {
    margin: 90px; /* Reducere margin pentru a îmbunătăți aspectul la rezoluția specificată */
  }

  .container {
    max-width: 100%; /* Lățime de 100% pentru a umple întreaga lățime a containerului */
  }

  .title {
    font-size: 65px; /* Mărește dimensiunea fontului pentru titlu */
    text-align: center;
  }

  .content,
  p {
    font-size: 55px; /* Mărește dimensiunea fontului pentru conținut */
    margin-bottom: 20px; /* Reducere spațiu între paragrafe și conținut */
    text-align: left;
  }

  .hr {
    border-width: 8px !important; /* Mărește grosimea liniilor albastre */
  }

  .similar-elements-title {
    font-size: 80px; /* Mărește dimensiunea fontului pentru titlul "Alte destinatii ce v-ar putea interesa" */
    color: #00a8ff; /* Schimbă culoarea textului la albastru */
    margin-bottom: 20px; /* Reducere spațiu între titlu și containerul de imagini */
  }

  .similar-elements-container {
    display: flex;
    flex-direction: column; /* Așează elementele unul sub altul */
    align-items: center; /* Aliniază elementele pe centru */
  }

  .similar-element {
    width: 80%; /* Face elementul să ocupe întreaga lățime a containerului */
    margin-bottom: 80px; /* Adaugă spațiu între elemente */
  }

  .similar-element img {
    width: 110%; /* Lățime de 100% pentru a umple întreaga lățime a containerului */
    height: auto; /* Păstrează raportul de aspect al imaginii */
    border-radius: 20px;
    transition: transform 0.2s;
  }

  li {
    font-size: 55px; /* Mărește dimensiunea fontului pentru elementele li */
    margin-bottom: 20px; /* Reducere spațiu între elementele li */
  }
}


