/* SearchBar.css */

.search-bar-container {
  background: linear-gradient(to right, #00a8ff, #005082);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.dropdown {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: #fff;
  color: #5b8bd1;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%235b8bd1" height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
}

/* Stil pentru opțiunea cu valoarea vidă (""), care este textul butonului */
.dropdown option[value=""] {
  display: none;
}

.option {
  display: none;
}

.oval-button {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background-color: #00a8ff;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.oval-button2 {
  display: flex;
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  width: 50px;
  height: 50px;
  border-radius: 40px;
  background-color: #00a8ff;
  color: #fff;
  font-size: 18px; /* Adjust the font size for the text */
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.oval-button2 img {
  width: 40px; /* Adjust the width of the image */
  height: auto; /* Adjust the height of the image */
}

.oval-button:hover {
  background-color: #3a6aaf;
}

.oval-button2:hover {
  background-color: #3a6aaf;
}

.dropdown,
.oval-button,
.oval-button2 {
  font-size: 20px; /* Dimensiunea inițială a textului */
}



@media (max-width: 1000px) {
  .search-bar-container {
    padding: 20px; /* Redu padding-ul containerului pentru a evita depășirea ecranului */
    margin-bottom: 20px; /* Redu margin-bottom-ul pentru a evita depășirea ecranului */
  }

  .dropdown,
  .oval-button,
  .oval-button2 {
    width: 70px !important; /* Redu lățimea butoanelor */
    height: 30px; /* Redu înălțimea butoanelor */
    font-size: 6px !important; /* Redu dimensiunea textului */
    margin: 0 5px; /* Ajustează margin-ul */
    border-radius: 50px; /* Redu raza de border-radius */
    padding: 0 10px; /* Ajustează padding-ul */
    text-align: center !important;
  }

  .oval-button2 {
    width: 40px !important; /* Redu lățimea .oval-button2 */
    height: 40px !important;
    padding: 0 5px; /* Ajustează padding-ul în .oval-button2 */
  }

  .dropdown {
    background-image: none; /* Elimină background-image pentru .dropdown */
  }

  .oval-button2 img {
    width: 40px; /* Redu dimensiunea imaginii din .oval-button2 */
  }

  .dropdown option {
    font-size: 14px; /* Redu font-size pentru opțiunile dropdown */
  }
}






